a {
    cursor: pointer;
    text-decoration: none;
}

._card {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

.status-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    background-color: #cfe986;
    width: 280px;
    min-height: 300px;
}

.status-name {
    margin-block-end: auto;
    display: flex;
    justify-content: center;
}

.task-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-card {
    cursor: move;
    width: 210px;
    background-color: #a5a1e6;
}

.del-btn {
    display: flex;
    justify-content: end;
}

.add-btn {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.add-card {
    margin: auto;
}

.drag>div {
    transform: rotate(3deg);
}

.ghost {
    background-color: lightgray;
    border-radius: 6px;
    max-width: 210px;
    margin: auto;
}

.ghost>div {
    visibility: hidden;
}