a {
    cursor: pointer;
    text-decoration: none;
}

._card {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

.status-card {
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color: #eef3a2;
    width: 280px;
    min-height: 300px;
    min-width: 280px;
}

.status-name {
    margin-block-end: auto;
    display: flex;
    justify-content: center;
}

.task-feed {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.task-card {
    cursor: move;
    width: 210px;
    background-color: #a5a1e6;
}

.del-btn {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.add-btn {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

}

.add-card {
    margin: auto;
}

@media screen and (max-width: 990px) {
    .task-feed {
        justify-content: flex-start;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
    }
}